<a href="https://colab.research.google.com/github/RAV10K1/DS-Unit-2-Applied-Modeling/blob/master/LS_DS_231_Define_ML_Problems_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

# Prediction of Default of Monthly Payments of Credit Card Clients

This project will use data from the UCI Machine Learning repository to predict whether a set of customers would default on their credit card payments the following month. The data was obtained from a Taiwanese study that aimed to compare the predictive accuracy of probability of default among six data mining methods. 
*(Yeh, I. C., & Lien, C. H. (2009). The comparisons of data mining techniques for the predictive accuracy of probability of default of credit card clients. Expert Systems with Applications, 36(2), 2473-2480.)*

In [2]:
# Loading data from repository

import pandas as pd

data = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls'
df = pd.read_excel(data)
print(df.shape)
df.head()

(30001, 25)

  Unnamed: 0         X1   X2  ...       X22       X23                           Y
0         ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default payment next month
1          1      20000    2  ...         0         0                           1
2          2     120000    2  ...         0      2000                           1
3          3      90000    2  ...      1000      5000                           0
4          4      50000    2  ...      1069      1000                           0

[5 rows x 25 columns]

In [3]:
# Cleaning dataframe
df.columns = df.iloc[0]
df = df.drop(df.index[0])
df = df.infer_objects()
print(df.shape)
df.head()

(30000, 25)

0  ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default payment next month
1   1      20000    2  ...         0         0                           1
2   2     120000    2  ...         0      2000                           1
3   3      90000    2  ...      1000      5000                           0
4   4      50000    2  ...      1069      1000                           0
5   5      50000    1  ...       689       679                           0

[5 rows x 25 columns]

In [4]:
# Checking for missing values
df.isnull().sum()

0
ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

In [5]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object', name=0)

In [0]:
# Performing train/test split
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, train_size=0.8, test_size=0.2, 
                               random_state=42)

In [7]:
# Creating validation dataset from train
train, val = train_test_split(train, train_size=0.8, test_size=0.2,
                              random_state=42)
print(f'Train Shape : {train.shape}')
print(f'Validation Shape : {val.shape}')
print(f'Test Shape : {test.shape}')

Train Shape : (19200, 25)
Validation Shape : (4800, 25)
Test Shape : (6000, 25)

## Selecting target feature

The aim of this project is to predict whether a credit card customer would default on their next monthly payment.

In [0]:
# Setting target and features variable
target = 'default payment next month'
features = train.drop(columns=[target]).columns.to_list()

In [0]:
# Arranging data into X features matrix and y target vector
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]

In [10]:
X_train.head()

0       ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
9923  9923      60000    1          1  ...      2100      1600      1600      1600
2157  2157     290000    2          1  ...     10000     15000      7844     23333
163    163     290000    1          3  ...       792         0       423       369
1464  1464     300000    2          2  ...      4000      5000      9000      5000
5625  5625     210000    2          2  ...     11538      3735      4129      2821

[5 rows x 24 columns]

## Majority Baseline

In [18]:
# Calculating majority baseline
df['default payment next month'].value_counts(normalize=True)

0    0.7788
1    0.2212
Name: default payment next month, dtype: float64

Looking at the majority class it can be seen that the majority of credit card holders had not defaulted on their next month payments at 78%. Only 22% of clients had actually defaulted. This shows a slightly imbalance in the classes.

In [0]:
# Creating pipeline for prediction using Random Forest Classifier
import category_encoders as ce
from sklearn.preprocessing import OrdinalEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline